PATH=/srv/cdimage.ubuntu.com/bin:/usr/sbin:/usr/bin:/sbin:/bin

# On the Ubuntu production instance, this file lives in
# /srv/cdimage.ubuntu.com/etc/crontab; please update that file if you expect
# your changes to survive.

# CD image cron jobs, run out of cdimage's crontab.

# core16 daily builds
30 8 * * *	DIST=xenial for-project ubuntu-core cron.daily-live --live
# core18 daily builds
33 8 * * *	DIST=bionic for-project ubuntu-core cron.daily-live --live
# core20 daily builds
36 6 * * *	EXTRA_PPAS=snappy-dev/image DIST=focal CHANNEL=dangerous-edge for-project ubuntu-core cron.daily-live --live
36 7 * * *	EXTRA_PPAS=snappy-dev/image DIST=focal CHANNEL=dangerous-beta for-project ubuntu-core cron.daily-live --live
36 8 * * *	EXTRA_PPAS=snappy-dev/image DIST=focal for-project ubuntu-core cron.daily-live --live
36 9 * * *	EXTRA_PPAS=snappy-dev/image DIST=focal CHANNEL=beta for-project ubuntu-core cron.daily-live --live
# core22 daily builds
36 10 * * *	EXTRA_PPAS=snappy-dev/image DIST=jammy CHANNEL=dangerous-edge for-project ubuntu-core cron.daily-live --live
36 11 * * *	EXTRA_PPAS=snappy-dev/image DIST=jammy CHANNEL=dangerous-beta for-project ubuntu-core cron.daily-live --live
36 12 * * *	EXTRA_PPAS=snappy-dev/image DIST=jammy CHANNEL=stable for-project ubuntu-core cron.daily-live --live
36 13 * * *	EXTRA_PPAS=snappy-dev/image DIST=jammy CHANNEL=dangerous-stable for-project ubuntu-core cron.daily-live --live
# bionic ubuntu-base tarball still building
# The daily ubuntu-base bionic images are used by core18, so we can't build it
# with proposed enabled.
52 4 * * *	PROPOSED=0 DIST=bionic for-project ubuntu-base cron.daily-live --live
# The daily ubuntu-base focal images are used by core20, so we can't build it
# with proposed enabled.
32 4 * * *	PROPOSED=0 DIST=focal for-project ubuntu-base cron.daily-live --live
# jammy daily builds
51 7 * * *	DIST=jammy for-project ubuntu cron.daily-live --live; SUBPROJECT=desktop-preinstalled DIST=jammy for-project ubuntu cron.daily-preinstalled --live
34 5 * * *	DIST=jammy for-project kubuntu cron.daily-live --live
50 1 * * *	DIST=jammy for-project xubuntu cron.daily-live --live
# Temporarily, we also add the tegra images as a subsequent build. They should
# be part of a separate tree as they use PPAs and are not officially
# releasable, but we'll do the switch once all the features are landed.
49 3 * * *	DIST=jammy for-project ubuntu-server cron.daily-preinstalled --live; DIST=jammy SUBPROJECT=live PROPOSED=0 for-project ubuntu-server cron.daily-live --live; EXTRA_PPAS="ubuntu-tegra/updates" ARCHES="arm64+tegra arm64+tegra-igx" DIST=jammy for-project ubuntu-server cron.daily-preinstalled --live
# Tegra images under the nvidia-tegra subtree; this uses a PPA just to get a
# backport of livecd-rootfs with u-i 3.x support
30 2 * * *	CDIMAGE_SUBTREE=nvidia-tegra EXTRA_PPAS="ubuntu-tegra/updates" ARCHES="arm64+tegra arm64+tegra-igx" DIST=jammy for-project ubuntu-server cron.daily-preinstalled --live
37 18 * * *	DIST=jammy for-project ubuntustudio cron.dvd --live
49 16 * * *	DIST=jammy for-project lubuntu cron.daily-live --live
34 22 * * *	DIST=jammy for-project ubuntukylin cron.daily-live --live
20 15 * * *	DIST=jammy for-project ubuntu-budgie cron.daily-live --live
56 2 * * *	DIST=jammy for-project ubuntu-mate cron.daily-live --live
# The daily ubuntu-base images are used by core-next, so we can't build it
# with proposed enabled.
52 4 * * *	PROPOSED=0 DIST=jammy for-project ubuntu-base cron.daily-live --live
# regular noble daily builds
41 9 * * *	for-project ubuntu-mini-iso cron.daily-live --live
24 5 * * *	for-project ubuntu cron.daily-live --live; SUBPROJECT=desktop-preinstalled for-project ubuntu cron.daily-preinstalled --live
41 7 * * *	for-project kubuntu cron.daily-live --live
40 1 * * *	for-project xubuntu cron.daily-live --live; SUBPROJECT=minimal for-project xubuntu cron.daily-minimal --live
41 1 * * *	for-project edubuntu cron.daily-live --live
10 3 * * *	for-project ubuntu-server cron.daily-preinstalled --live; SUBPROJECT=live for-project ubuntu-server cron.daily-live --live
27 18 * * *	for-project ubuntustudio cron.dvd --live
39 16 * * *	for-project lubuntu cron.daily-live --live
24 22 * * *	for-project ubuntukylin cron.daily-live --live
10 15 * * *	for-project ubuntu-budgie cron.daily-live --live; SUBPROJECT=legacy for-project ubuntu-budgie cron.daily-legacy --live
36 2 * * *	for-project ubuntu-mate cron.daily-live --live
10 13 * * *	for-project ubuntu-unity cron.daily-live --live
24 13 * * *	for-project ubuntucinnamon cron.daily-live --live
# The daily ubuntu-base images are used by core-next, so we can't build it
# with proposed enabled.
42 4 * * *	PROPOSED=0 for-project ubuntu-base cron.daily-live --live

*/15 * * * *	mirror-image-build-logs
5 11 * * *	daily-checks

# Self-rebuilds
*/5 * * * *	rebuild-requests -b -q jammy iso
*/5 * * * *	rebuild-requests -b -q noble iso
*/5 * * * *	rebuild-requests -b -q 20 iso
*/5 * * * *	rebuild-requests -b -q 22 iso
